:root {
  --font-heading: Quelity,Quelity Fallback,serif;
  --font-body: Vendetta,Vendetta Fallback,serif;
  --font-script-lightkeeper: Dontheus,Dontheus Fallback,cursive;
  --font-script-investigator: Brush Script MT,cursive;
}
