# Warning: Do not add secrets (API keys and similar) to this file, as it source controlled!
# Use `.env.local` for any secrets, and ensure it is not added to source control
SANITY_STUDIO_MARKETING_PROJECT_ID=""
SANITY_STUDIO_MARKETING_DATASET=""

SANITY_STUDIO_TOOLS_PROJECT_ID=""
SANITY_STUDIO_TOOLS_DATASET=""
